@import "tailwindcss";

@theme {
  /* Define our custom colors directly here */
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-900: #1e3a8a;

  --color-action-400: #34d399;
  --color-action-500: #10b981;
  --color-action-600: #059669;

  --color-warmth-100: #fef3c7;
  --color-warmth-400: #fbbf24;
  --color-warmth-500: #f59e0b;

  --color-surface-50: #f8fafc;
  --color-surface-100: #f1f5f9;
  --color-surface-200: #e2e8f0;
  --color-surface-900: #0f172a;
}

/* Set the default Light Mode variables */
:root {
  /* Slate 50 Background */
  --background: #f8fafc; 
  /* Dark Slate Text */
  --foreground: #0f172a; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vazirmatn), system-ui, sans-serif;
  scroll-behavior: smooth;
  
  /* REMOVED THE DOTS */
  background-color: #f8fafc; 
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}